@tailwind base;
@tailwind components;
@tailwind utilities;


.text-editor h1, 
.text-editor h2, 
.text-editor h3 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 15px;
  color: #fff !important;
}

.text-editor p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
  color: #d1d5db !important;
}

.text-editor a {
  color: #e50914 !important;
  font-weight: 500;
  text-decoration: underline;
}

.text-editor ul, .text-editor ol {
  margin-left: 20px;
  margin-bottom: 20px;
}
